body {
    margin: 0;
}

#mainContainer {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

#headerContainer {
    width: 100%;
    height: 20%;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}


.headerItem {
    width: 90%;
    height: 90%;
    display: grid;
    align-items: center;
    justify-items: center;
}

#logo {
    width: 100px;
    height: 100px;
    background-color: hotpink;
    border-radius: 50px;
}

.subContainer {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#sideNavContainer {
    width: 100%;
    height: 100%;
    background-color: deeppink;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.menuItem {
    width: 90%;
    height: 90%;
    background-color: gold;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 200%;
    cursor: pointer;

}

#contentContainer {
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.productContainer {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: honeydew;
}